<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>New Contact</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  </head>
  <body>
    <!-- <nav>
      <a href="/">Home</a>
      <a href="/page2.html" aria-current="page">Other page</a>
    </nav>
    <main>
      <h1>My other page</h1>
    </main> -->

    <header>
      <nav>
        <ul>
          <li><a th:href="@{/}"> EmergencyCall </a></li>

          <li><a th:href="@{/contacts}"> Contacts </a></li>

          <li><a th:href="@{/contacts/new}"> + New </a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>Register a new emergency contact</h1>
      </section>

      <section>
        <form
          th:action="${contact.new} ? @{/contacts} : @{/contacts/{contact}(contact=${contact.id})}"
          th:object="${contact}"
          th:method="${contact.new} ? post : put"
        >
          <div th:if="${!contact.new}">
            <label>Code: </label>

            <input th:field="*{id}" readonly="readonly" />
          </div>

          <div>
            <label>Name: </label>

            <input th:field="*{name}" />
          </div>

          <div>
            <label>Phone: </label>

            <input th:field="*{phone}" />
          </div>

          <div>
            <button>Save</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
